@import 'config';

header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;
  padding: 2rem 0;
  border-bottom: 4px solid $blue;
  background-color: $light;

  h3 a {
    font-size: 2rem;
    &:hover {
      text-decoration: none;
    }
  }

  .nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  .nav-link {
    justify-self: center;
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 300;
    &:hover {
      font-weight: 400;
    }
    & > a.active {
      font-weight: 900;
      text-decoration: underline;
    }
  }
}

.nav-menu {
  visibility: hidden;
}


@media screen and (max-width: 767px) {
  header {
    margin: 0 1rem;
    padding: 0 0.5rem;
    h3 a {
      font-size: 1.8rem;
    }
  }
  .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 43, 91, 0.98);
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem !important;
    transform: translate3d(0, 0, 0);
    @include easeOut;

    &.hidden {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }

  .nav-link {
    font-size: 3rem !important;
    font-weight: 900 !important;
    a {
      color: $light;
    }
  }

  .nav-menu {
    visibility: visible;
    position: absolute;
    z-index: 3;
    top: 1.3rem;
    right: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    &.open {
      .menu-line {
        background-color: $light;
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px)
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -7px)
        }
      }
    }
  }

  .menu-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $blue;
    @include easeOut;
  }
}