@import 'config';

nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  min-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;
  padding: 2rem 0;
  border-bottom: 4px solid $red;
  background-color: $light;

  h3 a {
    font-size: 2rem;
    &:hover {
      text-decoration: none;
    }
  }

  div {
    display: flex;
    gap: 4rem;
  }

  .nav-link {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 300;
    &:hover {
      font-weight: 400;
      text-decoration: none;
    }
    &.active {
      font-weight: 900;
    }
  }
}