@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: $primary-font;
}

main {
  margin: 0 auto;
  max-width: 1250px;
}

h1, h2 {
  font-family: $secondary-font;
}

a, button {
  &:hover:enabled {
    cursor: pointer;
  }
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}


@media screen and (max-width: 767px) {

}

@import 'home';